sc_copyToServer.bat
startapp.cmd
config-secure.json
config.json

/node_modules
/public
/logs
/reports
startup.cmd
package-lock.json
Build.ps1
.env
.env.development
.env.local
.env.production
.env.sample
docker_build.bat
