sc_copyToServer.bat
startapp.cmd
config-secure.json
config.json

/node_modules
/public
/logs
/reports
config.js
startup.cmd
package-lock.json
Build.ps1
.env
docker_build.bat
.env.development
.env.local
.env.production
